body {
    font-family: 'Source Sans Pro', sans-serif;
}

h4 {
    margin:0;
    padding:0;
}

li {
    padding: 5px;
}

.centered-text-xy {
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%)
}

.centered-text-x {
    text-align: center;
    content: "\A";
    white-space: pre;
}

/* flexbox containers */
.generate-section1 {
    display: flex;
    flex-direction: column;
}
.generate-section2 {
    display: flex;
    flex-direction: row;
}
.logo-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    padding-right: 20px;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}
